<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truck Info</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Trucks </a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">About Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/truckInfo">Truck Info <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          <span class="nav-link text-white text-capitalize">Hello {{ request.session.username }}</span>
          <a class="nav-link" href="/trucks/logout" data-toggle="modal" data-target="#exampleModal"
          style="color: wheat;">Logout</a>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
<br>
<Br>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <form method="GET" action="/logout">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

    
    <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 50rem;">
        <div class="card-body">
            <h3>Select a Truck</h3>
            <br>
     
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Trucks</label>
                </div>
                <form>
                {% csrf_token %}
                <select class="custom-select" id="inputGroupSelect01" onchange="testfunction()">
                    
                  <option selected disabled>Choose a truck</option>
                  {%for i in trucks%}
                  <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
            </form>
                <input class="btn btn-primary" type="submit" value="Submit">
              </div>
              

                  
      <div class="dropdown-divider"></div>
            
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Truck Name</th>
            <th scope="col">Truck Number</th>
            <th scope="col">Date</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><span id="name"></span></td>
            <td><span id="number"></span></td>
            <td><span id="date"></span></td>
            <td><span id="source"></span></td>
            <td><span id="destination"></span></td>
          </tr>
          
        </tbody>
      </table>




    </div>
    {%if messages%}
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    {%for message in messages%}
    {{message}}
    {%endfor%} 
  </div>
{%endif%}     
</div>

<script>
    function testfunction(){
        var today = new Date();
        url = 'http://'+window.location['host']+'/truckInfoDetails/'+ document.getElementById("inputGroupSelect01").value
        var xamt1 = new XMLHttpRequest();
            xamt1.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    data = JSON.parse(xamt1.responseText)
                    console.log(data)
                    document.getElementById("name").innerHTML = document.getElementById("inputGroupSelect01").value
                    document.getElementById("source").innerHTML = data['data']['source']
                    document.getElementById("date").innerHTML = today.getMonth()+1 + '/' + today.getDate() + '/' + today.getFullYear();
                    document.getElementById("destination").innerHTML = data['data']['destination']
                    document.getElementById("number").innerHTML = data['data']['number']
                }
            }
            xamt1.open('GET', url)
            xamt1.send()
    }
        


    
</script>


</body>
</html>